#backendside
node_modules/
.vscode
package-lock.json
eval $(ssh-agent -s) && ssh-add ~/.ssh/stn2015
.env

#client side
/client/node_modules
/client/.env

# testing
/client/coverage

# production
/client/build

# misc
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

/client/.docz
/client/.eslintcache

/client/react-shell-scripts
yarn-error.log
yarn.lock