.textContainer {
  text-align: center;
  color: white;
}
.bottomLeft {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  .topLeft {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  .topRight {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  .bottomRight {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size:large;
    font-weight: bolder;
    transform: translate(-50%, -50%);
  }